@import "tailwindcss";

@font-face {
  font-family: Karla;
  src: url("/public/assets/fonts/Karla/Karla-Regular.ttf");
}


@theme {
  --spacing: 10px;
  --font-Karla: Karla, "sans-serif";

  --color-primary-green-200: hsl(148, 38%, 91%);
  --color-primary-green-600: hsl(169, 82%, 27%);
  --color-primary-red: hsl(0, 66%, 54%);

  --color-neutral-grey-500:hsl(186, 15%, 59%);
  --color-neutral-grey-900:hsl(187, 24%, 22%);
  --color-green-hover: hsl(169, 77%, 32%);
}
.form{
  @apply font-Karla flex flex-col w-full sm:w-fit p-3 gap-1.5 rounded-2xl bg-white text-neutral-grey-900
}

.input{
  @apply py-0.5 px-1.5 w-full rounded focus:outline-none 
}
.textArea{
  @apply resize-none h-10 rounded px-1.5 py-1 focus:outline-none
}
.errorMessageForm{
  @apply text-primary-red text-[13px]
}






